<app-page-header [headerTitle]="headerTitle" [headerIcon]="headerIcon" [headerDescription]="headerDescription">
</app-page-header>

<div class="row mt-3">
  <div class="col-12">
    <h3>Company Employees Contact Table</h3>
    <table *ngIf="contacts.length > 0; else noContacts" class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Birthday</th>
          <th>Phones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">

          <td>
            <img width="30" class="mr-3" src="assets/images/{{contact.avatar}}" alt="">
            {{contact.name}}</td>
          <td>{{contact.email | lowercase}}</td>
          <td>{{contact.birthday | date:'dd/MM/yyy'}}</td>
          <td>
            <ul *ngIf="contact.phones; else noPhon">
              <li *ngFor="let phone of contact.phones">{{phone}}</li>
            </ul>

            <ng-template #noPhon>
              <i>no phon...</i>
            </ng-template>
          </td>

        </tr>
      </tbody>
    </table>
    <ng-template #noContacts>
      <p><i>No Contacts available</i></p>
    </ng-template>
  </div>
</div>
