<app-page-header [headerTitle]="headerTitle" [headerIcon]="headerIcon" [headerDescription]="headerDescription">
</app-page-header>

<div class="row mt-3">
  <div class="col-12">
    <p>
      <a href="" class="btn btn-secondary" routerLink="/customers">
        <i class="fas fa-arrow-circle-left"></i> Back
      </a>
    </p>
    <table class="table table-bordered mt-3">

      <tbody>
        <tr>
          <td><b>First Name:</b></td>
          <td>{{customer.firstName}}</td>

        </tr>
        <tr>
          <td><b>Last Name:</b></td>
          <td>{{customer.lastName}}</td>

        </tr>
        <tr>
          <td><b>Email:</b></td>
          <td>{{customer.email}}</td>

        </tr>
        <tr>
          <td><b>Phone:</b></td>
          <td>{{customer.phone}}</td>

        </tr>
        <tr>
          <td><b>Note:</b></td>
          <td>{{customer.notes}}</td>

        </tr>
        <tr>
          <td><b>Address:</b></td>
          <td>{{customer.address}}</td>

        </tr>
      </tbody>
    </table>

  </div>
</div>
